.gitversion
.DS_Store
build
ChangeLog.html
dist.*
dump
*.bak
*.pyc
*.pyo
*.dll
*.pdb
*.msi
*.wixobj
EDMarketConnector_Installer_*.exe
appcast_win_*.xml
appcast_mac_*.xml
EDMarketConnector.VisualElementsManifest.xml
*.zip
EDMC_Installer_Config.iss

.idea
.vscode
.venv/
venv/
*.code-workspace
htmlcov/
.ignored
.coverage
EDMarketConnector.wxs
wix/components.wxs
