.DS_Store
build
dist.*
dump
*.bak
*.pyc
*.pyo
*.dll
*.pdb
*.msi
*.wixobj
EDMarketConnector.VisualElementsManifest.xml
appcast_*_*.xml
*.zip
*.swp
*/*.swp
Py3-notes.txt
README.html
TODO.html
cp37-setup-new.py
docs/RELEASING.html
envsetup
installer-none_to_upstream342-utf8.log
installer-none_to_upstream342.log
installer-upstream342_to_upstream343-utf8-cut.log
installer-upstream342_to_upstream343-utf8.log
installer-upstream342_to_upstream343.log
installer-upstream343_to_py3-343-utf8-cut.log
installer-upstream343_to_py3-343-utf8.log
installer-upstream343_to_py3-343.log
installer-upstream343_to_py3-admin-343.log
installer-upstream343_to_upstream343-utf8.log
installer-upstream343_to_upstream343.log
installer-utf8.log
installer.log
miggytest/
msi-upgradecodes.txt
outfitting.csv
run-and-log
shipyard.csv
systems.csv
