<?xml version="1.0" encoding="utf-8"?>

<?define PRODUCTNAME = "EDMarketConnector"?>
<?define PRODUCTLONGNAME = "Elite Dangerous Market Connector"?>
<?define PRODUCTVERSION = "!(bind.fileVersion.EDMarketConnector.exe)" ?>
<?define UPGRADECODE = "9df571ae-d56d-46e6-af79-4e72ad54efe6" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*"
			 Name="$(var.PRODUCTLONGNAME)"
			 Version="$(var.PRODUCTVERSION)"
			 UpgradeCode="$(var.UPGRADECODE)"
			 Language="!(bind.fileLanguage.EDMarketConnector.exe)"
			 Manufacturer="Marginal">

		<Package Id="*" Keywords="Installer"
				 InstallScope="perMachine"
				 Description="$(var.PRODUCTLONGNAME) installer"
				 InstallerVersion="300" Compressed="yes"
				 Platform="x86"
				 Languages="1033,1029,1031,1034,1035,1036,1038,1040,1041,1043,1045,1046,1049,1058,1062,2052,2070,2074,0" />
				 <!--        en   cs,  de   es   fi   fr   hu   it   ja   nl   pl  pt-BR ru   uk  lv zh-CN pt-PT sr-Latn neutral -->
				 <!-- https://msdn.microsoft.com/en-gb/goglobal/bb964664.aspx -->

		<!-- Always reinstall since patching is problematic -->
		<!-- http://www.joyofsetup.com/2010/01/16/major-upgrades-now-easier-than-ever/ -->
		<MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<Media Id="1" Cabinet="product.cab" EmbedCab="yes" />

		<Icon Id="EDMarketConnector.exe" SourceFile="EDMarketConnector.ico"/>

		<!-- For Add/Remove programs -->
		<Property Id="ARPPRODUCTICON" Value="EDMarketConnector.exe" />
		<Property Id="ARPNOMODIFY" Value="yes" Secure="yes" />	<!-- Remove modify - also set by WixUI_Minimal -->
		<Property Id="ARPHELPLINK" Value="https://github.com/Marginal/EDMarketConnector/wiki" />

		<!-- Set INSTALLDIR from ARPINSTALLLOCATION if replacing/upgrading -->
		<!-- https://wyrdfish.wordpress.com/2012/07/20/msi-writing-guidelines-this-may-be-out-of-date/ -->
		<Property Id="ARPINSTALLLOCATION">
			<RegistrySearch Id="GetARPINSTALLLOCATION"
							Root="HKLM"
							Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\[WIX_UPGRADE_DETECTED]"
							Name="InstallLocation"
							Type="raw" />
		</Property>
		<CustomAction Id="SetINSTALLDIR" Property="INSTALLDIR" Value="[ARPINSTALLLOCATION]" />
		<InstallUISequence>
			<Custom Action="SetINSTALLDIR" After="AppSearch">
				WIX_UPGRADE_DETECTED AND ARPINSTALLLOCATION
			</Custom>
		</InstallUISequence>
		<InstallExecuteSequence>
			<Custom Action="SetINSTALLDIR" After="AppSearch">
				WIX_UPGRADE_DETECTED AND ARPINSTALLLOCATION
			</Custom>
		</InstallExecuteSequence>

		<!-- Set ARPINSTALLLOCATION from INSTALLDIR if new install -->
		<!-- http://blogs.technet.com/b/alexshev/archive/2008/02/09/from-msi-to-wix-part-2.aspx -->
		<CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" />
		<InstallExecuteSequence>
			<Custom Action="SetARPINSTALLLOCATION" After="InstallValidate">
				NOT Installed
			</Custom>
		</InstallExecuteSequence>

		<!-- Merge in C runtime -->
		<!--
		<DirectoryRef Id="TARGETDIR">
			<Merge Id="VCRedist90" SourceFile="C:\Program Files (x86)\Common Files\Merge Modules\Microsoft_VC90_CRT_x86.msm" DiskId="1" Language="0"/>
		</DirectoryRef>
		<Feature Id="VCRedist90" Title="Visual C++ 9.0 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
			<MergeRef Id="VCRedist90"/>
		</Feature>
		-->

		<!-- Launch app after upgrade -->
		<Property Id="LAUNCH" Value="yes" />
		<CustomAction Id="DoLaunch"
					  Directory="INSTALLDIR"
					  ExeCommand='"[INSTALLDIR]EDMarketConnector.exe"'
					  Return="asyncNoWait"
					  Execute="deferred"
					  Impersonate="yes"
					  />
		<InstallExecuteSequence>
			<!-- http://alekdavis.blogspot.co.uk/2013/05/wix-woes-what-is-your-installer-doing.html -->
			<Custom Action="DoLaunch" Before="InstallFinalize">
				NOT Installed AND LAUNCH ~= "yes"
			</Custom>
		</InstallExecuteSequence>

		<Directory Id="TARGETDIR" Name="SourceDir">

			<!-- http://wixtoolset.org/documentation/manual/v3/howtos/files_and_registry/write_a_registry_entry.html -->
			<Component Id="RegistryEntries" Guid="*">
				<RegistryKey Root="HKCR" Key="edmc">
					<RegistryValue Type="string" Value="$(var.PRODUCTLONGNAME)"/>
					<RegistryValue Type="string" Name="URL Protocol" Value=""/>
					<RegistryKey Key="DefaultIcon">
						<RegistryValue Type="string" Value="[INSTALLDIR]EDMarketConnector.exe,0"/>
					</RegistryKey>
					<RegistryKey Key="shell">
						<RegistryKey Key="open">
							<RegistryKey Key="command">
								<RegistryValue Type="string" Value='"[INSTALLDIR]EDMarketConnector.exe" "%1"'/>
							</RegistryKey>
							<RegistryKey Key="ddeexec">
								<RegistryValue Type="string" Value='Open("%1")'/>
							</RegistryKey>
						</RegistryKey>
					</RegistryKey>
				</RegistryKey>
			</Component>

			<!-- Generate with `heat.exe dir dist.win32 -gg -sfrag -suid -out foo.wxs` -->
			<!-- Sadly too late for auto-generated Component UUIDs -->

			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLDIR" Name="$(var.PRODUCTNAME)">
					<Component Id="MainExecutable" Guid="{D33BB66E-9664-4AB6-A044-3004B50A09B0}">
						<File Id="EDMarketConnector.exe" KeyPath="yes" Source="SourceDir\EDMarketConnector.exe" />
						<Shortcut Id="MainExeShortcut" Directory="ProgramMenuFolder" Name="$(var.PRODUCTLONGNAME)" Description="Downloads station data from Elite: Dangerous" WorkingDirectory="INSTALLDIR" Icon="EDMarketConnector.exe" IconIndex="0" Advertise="yes" />
					</Component>
			                <Component Id="cacert.pem" Guid="{62DF41B7-0BE8-48F3-BB22-90E9201A6D8C}">
			                    <File Id="cacert.pem" KeyPath="yes" Source="SourceDir\cacert.pem" />
			                </Component>
					<Component Id="commodity.csv" Guid="*">
			                    <File Id="commodity.csv" KeyPath="yes" Source="SourceDir\commodity.csv" />
			                </Component>
			                <Component Id="EDMarketConnector.ico" Guid="{6762E871-5FA1-4C2F-A3C9-6A9954CC018C}">
			                    <File Id="EDMarketConnector.ico" KeyPath="yes" Source="SourceDir\EDMarketConnector.ico" />
			                </Component>
			                <Component Id="EDMarketConnector.VisualElementsManifest.xml" Guid="{9A0CB8A2-7167-492F-A185-0BDF7E9F5C01}">
			                    <File Id="EDMarketConnector.VisualElementsManifest.xml" KeyPath="yes" Source="SourceDir\EDMarketConnector.VisualElementsManifest.xml" />
			                </Component>
					<Component Id="EDMC.exe" Guid="*">
			                    <File Id="EDMC.exe" KeyPath="yes" Source="SourceDir\EDMC.exe" />
			                </Component>
					<Component Id="EUROCAPS.TTF" Guid="*">
			                    <File Id="EUROCAPS.TTF" KeyPath="yes" Source="SourceDir\EUROCAPS.TTF" />
			                </Component>
					<Component Id="library.zip" Guid="{A18814B6-B491-42AB-A433-2AD66A823AD7}">
					    <File Id="library.zip" KeyPath="yes" Source="SourceDir\library.zip" />
					</Component>
					<Component Id="libcrypto_1_1.dll" Guid="*">
			                    <File Id="libcrypto_1_1.dll" KeyPath="yes" Source="SourceDir\libcrypto-1_1.dll" />
			                </Component>
					<Component Id="libssl_1_1.dll" Guid="*">
			                    <File Id="libssl_1_1.dll" KeyPath="yes" Source="SourceDir\libssl-1_1.dll" />
			                </Component>
					<Component Id="modules.p" Guid="*">
			                    <File Id="modules.p" KeyPath="yes" Source="SourceDir\modules.p" />
			                </Component>
			                <Component Id="pyexpat.pyd" Guid="{87A99AAA-792F-4092-9D00-5106D99D00AD}">
			                    <File Id="pyexpat.pyd" KeyPath="yes" Source="SourceDir\pyexpat.pyd" />
			                </Component>
					<Component Id="python37.dll" Guid="*">
			                    <File Id="python37.dll" KeyPath="yes" Source="SourceDir\python37.dll" />
			                </Component>
					<Component Id="rare_commodity.csv" Guid="*">
			                    <File Id="rare_commodity.csv" KeyPath="yes" Source="SourceDir\rare_commodity.csv" />
			                </Component>
			                <Component Id="select.pyd" Guid="{9DBAB544-E815-40A5-866A-391B68919344}">
			                    <File Id="select.pyd" KeyPath="yes" Source="SourceDir\select.pyd" />
			                </Component>
					<Component Id="ships.p" Guid="*">
			                    <File Id="ships.p" KeyPath="yes" Source="SourceDir\ships.p" />
			                </Component>
					<Component Id="snd_bad.wav" Guid="*">
			                    <File Id="snd_bad.wav" KeyPath="yes" Source="SourceDir\snd_bad.wav" />
			                </Component>
					<Component Id="snd_good.wav" Guid="*">
			                    <File Id="snd_good.wav" KeyPath="yes" Source="SourceDir\snd_good.wav" />
			                </Component>
					<Component Id="stations.p" Guid="*">
			                    <File Id="stations.p" KeyPath="yes" Source="SourceDir\stations.p" />
			                </Component>
					<Component Id="systems.p" Guid="*">
			                    <File Id="systems.p" KeyPath="yes" Source="SourceDir\systems.p" />
			                </Component>
					<Component Id="tcl86t.dll" Guid="*">
			                    <File Id="tcl86t.dll" KeyPath="yes" Source="SourceDir\tcl86t.dll" />
			                </Component>
					<Component Id="tk86t.dll" Guid="*">
			                    <File Id="tk86t.dll" KeyPath="yes" Source="SourceDir\tk86t.dll" />
			                </Component>
			                <Component Id="unicodedata.pyd" Guid="{E8E3701A-8AA1-4D46-A56D-7AF08D6AFCD4}">
			                    <File Id="unicodedata.pyd" KeyPath="yes" Source="SourceDir\unicodedata.pyd" />
			                </Component>
					<Component Id="winsound.pyd" Guid="*">
			                    <File Id="winsound.pyd" KeyPath="yes" Source="SourceDir\winsound.pyd" />
			                </Component>
			                <Component Id="WinSparkle.dll" Guid="{3117D2CF-1D87-4B99-BE44-7BDDFE8C8E60}">
			                    <File Id="WinSparkle.dll" KeyPath="yes" Source="SourceDir\WinSparkle.dll" />
			                </Component>
					<Component Id="_bz2.pyd" Guid="*">
			                    <File Id="_bz2.pyd" KeyPath="yes" Source="SourceDir\_bz2.pyd" />
			                </Component>
			                <Component Id="_ctypes.pyd" Guid="{433C38E1-F736-4546-AA83-FCD8B0AAA39B}">
			                    <File Id="_ctypes.pyd" KeyPath="yes" Source="SourceDir\_ctypes.pyd" />
			                </Component>
					<Component Id="_decimal.pyd" Guid="*">
			                    <File Id="_decimal.pyd" KeyPath="yes" Source="SourceDir\_decimal.pyd" />
			                </Component>
					<Component Id="_elementtree.pyd" Guid="*">
			                    <File Id="_elementtree.pyd" KeyPath="yes" Source="SourceDir\_elementtree.pyd" />
			                </Component>
			                <Component Id="_hashlib.pyd" Guid="{45803711-A2A6-4DA8-8219-F625DE6DB33E}">
			                    <File Id="_hashlib.pyd" KeyPath="yes" Source="SourceDir\_hashlib.pyd" />
			                </Component>
					<Component Id="_lzma.pyd" Guid="*">
			                    <File Id="_lzma.pyd" KeyPath="yes" Source="SourceDir\_lzma.pyd" />
			                </Component>
					<Component Id="_multiprocessing.pyd" Guid="*">
			                    <File Id="_multiprocessing.pyd" KeyPath="yes" Source="SourceDir\_multiprocessing.pyd" />
			                </Component>
					<Component Id="_queue.pyd" Guid="*">
			                    <File Id="_queue.pyd" KeyPath="yes" Source="SourceDir\_queue.pyd" />
			                </Component>
					<Component Id="_socket.pyd" Guid="*">
			                    <File Id="_socket.pyd" KeyPath="yes" Source="SourceDir\_socket.pyd" />
			                </Component>
					<Component Id="sqlite3.dll" Guid="*">
						<File Id="sqlite3.dll" KeyPath="yes" Source="SourceDir\sqlite3.dll" />
					</Component>
					<Component Id="_sqlite3.pyd" Guid="*">
			                    <File Id="_sqlite3.pyd" KeyPath="yes" Source="SourceDir\_sqlite3.pyd" />
			                </Component>
			                <Component Id="_ssl.pyd" Guid="{2EA8F0B6-A104-4D31-99F0-3535ACDC26A9}">
			                    <File Id="_ssl.pyd" KeyPath="yes" Source="SourceDir\_ssl.pyd" />
			                </Component>
					<Component Id="_testcapi.pyd" Guid="*">
			                    <File Id="_testcapi.pyd" KeyPath="yes" Source="SourceDir\_testcapi.pyd" />
			                </Component>
			                <Component Id="_tkinter.pyd" Guid="{D2F0CDD2-E934-419F-BC99-445E8FD3AF24}">
			                    <File Id="_tkinter.pyd" KeyPath="yes" Source="SourceDir\_tkinter.pyd" />
			                </Component>
			                <Directory Id="L10n" Name="L10n">
			                    <Component Id="cs.strings" Guid="*">
			                        <File Id="cs.strings" KeyPath="yes" Source="SourceDir\L10n\cs.strings" />
			                    </Component>
			                    <Component Id="de.strings" Guid="*">
			                        <File Id="de.strings" KeyPath="yes" Source="SourceDir\L10n\de.strings" />
			                    </Component>
			                    <Component Id="es.strings" Guid="*">
			                        <File Id="es.strings" KeyPath="yes" Source="SourceDir\L10n\es.strings" />
			                    </Component>
			                    <Component Id="fi.strings" Guid="*">
			                        <File Id="fi.strings" KeyPath="yes" Source="SourceDir\L10n\fi.strings" />
			                    </Component>
			                    <Component Id="fr.strings" Guid="*">
			                        <File Id="fr.strings" KeyPath="yes" Source="SourceDir\L10n\fr.strings" />
			                    </Component>
			                    <Component Id="hu.strings" Guid="*">
			                        <File Id="hu.strings" KeyPath="yes" Source="SourceDir\L10n\hu.strings" />
			                    </Component>
			                    <Component Id="it.strings" Guid="*">
			                        <File Id="it.strings" KeyPath="yes" Source="SourceDir\L10n\it.strings" />
			                    </Component>
			                    <Component Id="ja.strings" Guid="*">
			                        <File Id="ja.strings" KeyPath="yes" Source="SourceDir\L10n\ja.strings" />
			                    </Component>
			                    <Component Id="lv.strings" Guid="*">
			                        <File Id="lv.strings" KeyPath="yes" Source="SourceDir\L10n\lv.strings" />
			                    </Component>
			                    <Component Id="nl.strings" Guid="*">
			                        <File Id="nl.strings" KeyPath="yes" Source="SourceDir\L10n\nl.strings" />
			                    </Component>
			                    <Component Id="pl.strings" Guid="*">
			                        <File Id="pl.strings" KeyPath="yes" Source="SourceDir\L10n\pl.strings" />
			                    </Component>
			                    <Component Id="pt_BR.strings" Guid="*">
			                        <File Id="pt_BR.strings" KeyPath="yes" Source="SourceDir\L10n\pt-BR.strings" />
			                    </Component>
			                    <Component Id="pt_PT.strings" Guid="*">
			                        <File Id="pt_PT.strings" KeyPath="yes" Source="SourceDir\L10n\pt-PT.strings" />
			                    </Component>
			                    <Component Id="ru.strings" Guid="*">
			                        <File Id="ru.strings" KeyPath="yes" Source="SourceDir\L10n\ru.strings" />
			                    </Component>
			                    <Component Id="sr_Latn.strings" Guid="*">
			                        <File Id="sr_Latn.strings" KeyPath="yes" Source="SourceDir\L10n\sr-Latn.strings" />
			                    </Component>
			                    <Component Id="uk.strings" Guid="*">
			                        <File Id="uk.strings" KeyPath="yes" Source="SourceDir\L10n\uk.strings" />
			                    </Component>
			                    <Component Id="zh_Hans.strings" Guid="*">
			                        <File Id="zh_Hans.strings" KeyPath="yes" Source="SourceDir\L10n\zh-Hans.strings" />
			                    </Component>
			                </Directory>
			                <Directory Id="lib" Name="lib">
			                    <Directory Id="tcl" Name="tcl">
			                        <Component Id="auto.tcl" Guid="*">
			                            <File Id="auto.tcl" KeyPath="yes" Source="SourceDir\lib\tcl\auto.tcl" />
			                        </Component>
			                        <Component Id="clock.tcl" Guid="*">
			                            <File Id="clock.tcl" KeyPath="yes" Source="SourceDir\lib\tcl\clock.tcl" />
			                        </Component>
			                        <Component Id="history.tcl" Guid="*">
			                            <File Id="history.tcl" KeyPath="yes" Source="SourceDir\lib\tcl\history.tcl" />
			                        </Component>
			                        <Component Id="init.tcl" Guid="*">
			                            <File Id="init.tcl" KeyPath="yes" Source="SourceDir\lib\tcl\init.tcl" />
			                        </Component>
			                        <Component Id="package.tcl" Guid="*">
			                            <File Id="package.tcl" KeyPath="yes" Source="SourceDir\lib\tcl\package.tcl" />
			                        </Component>
			                        <Component Id="parray.tcl" Guid="*">
			                            <File Id="parray.tcl" KeyPath="yes" Source="SourceDir\lib\tcl\parray.tcl" />
			                        </Component>
			                        <Component Id="safe.tcl" Guid="*">
			                            <File Id="safe.tcl" KeyPath="yes" Source="SourceDir\lib\tcl\safe.tcl" />
			                        </Component>
			                        <Component Id="tclIndex" Guid="*">
			                            <File Id="tclIndex" KeyPath="yes" Source="SourceDir\lib\tcl\tclIndex" />
			                        </Component>
			                        <Component Id="tm.tcl" Guid="*">
			                            <File Id="tm.tcl" KeyPath="yes" Source="SourceDir\lib\tcl\tm.tcl" />
			                        </Component>
			                        <Component Id="word.tcl" Guid="*">
			                            <File Id="word.tcl" KeyPath="yes" Source="SourceDir\lib\tcl\word.tcl" />
			                        </Component>
			                        <Directory Id="http1.0" Name="http1.0">
			                            <Component Id="http.tcl" Guid="*">
			                                <File Id="http.tcl" KeyPath="yes" Source="SourceDir\lib\tcl\http1.0\http.tcl" />
			                            </Component>
			                            <Component Id="pkgIndex.tcl" Guid="*">
			                                <File Id="pkgIndex.tcl" KeyPath="yes" Source="SourceDir\lib\tcl\http1.0\pkgIndex.tcl" />
			                            </Component>
			                        </Directory>
			                        <Directory Id="opt0.4" Name="opt0.4">
			                            <Component Id="optparse.tcl" Guid="*">
			                                <File Id="optparse.tcl" KeyPath="yes" Source="SourceDir\lib\tcl\opt0.4\optparse.tcl" />
			                            </Component>
			                            <Component Id="pkgIndex.tcl_1" Guid="*">
			                                <File Id="pkgIndex.tcl_1" KeyPath="yes" Source="SourceDir\lib\tcl\opt0.4\pkgIndex.tcl" />
			                            </Component>
			                        </Directory>
			                    </Directory>
			                    <Directory Id="tk" Name="tk">
			                        <Component Id="bgerror.tcl" Guid="*">
			                            <File Id="bgerror.tcl" KeyPath="yes" Source="SourceDir\lib\tk\bgerror.tcl" />
			                        </Component>
			                        <Component Id="button.tcl" Guid="*">
			                            <File Id="button.tcl" KeyPath="yes" Source="SourceDir\lib\tk\button.tcl" />
			                        </Component>
			                        <Component Id="choosedir.tcl" Guid="*">
			                            <File Id="choosedir.tcl" KeyPath="yes" Source="SourceDir\lib\tk\choosedir.tcl" />
			                        </Component>
			                        <Component Id="clrpick.tcl" Guid="*">
			                            <File Id="clrpick.tcl" KeyPath="yes" Source="SourceDir\lib\tk\clrpick.tcl" />
			                        </Component>
			                        <Component Id="comdlg.tcl" Guid="*">
			                            <File Id="comdlg.tcl" KeyPath="yes" Source="SourceDir\lib\tk\comdlg.tcl" />
			                        </Component>
			                        <Component Id="console.tcl" Guid="*">
			                            <File Id="console.tcl" KeyPath="yes" Source="SourceDir\lib\tk\console.tcl" />
			                        </Component>
			                        <Component Id="dialog.tcl" Guid="*">
			                            <File Id="dialog.tcl" KeyPath="yes" Source="SourceDir\lib\tk\dialog.tcl" />
			                        </Component>
			                        <Component Id="entry.tcl" Guid="*">
			                            <File Id="entry.tcl" KeyPath="yes" Source="SourceDir\lib\tk\entry.tcl" />
			                        </Component>
			                        <Component Id="focus.tcl" Guid="*">
			                            <File Id="focus.tcl" KeyPath="yes" Source="SourceDir\lib\tk\focus.tcl" />
			                        </Component>
			                        <Component Id="fontchooser.tcl" Guid="*">
			                            <File Id="fontchooser.tcl" KeyPath="yes" Source="SourceDir\lib\tk\fontchooser.tcl" />
			                        </Component>
			                        <Component Id="iconlist.tcl" Guid="*">
			                            <File Id="iconlist.tcl" KeyPath="yes" Source="SourceDir\lib\tk\iconlist.tcl" />
			                        </Component>
			                        <Component Id="icons.tcl" Guid="*">
			                            <File Id="icons.tcl" KeyPath="yes" Source="SourceDir\lib\tk\icons.tcl" />
			                        </Component>
			                        <Component Id="license.terms" Guid="*">
			                            <File Id="license.terms" KeyPath="yes" Source="SourceDir\lib\tk\license.terms" />
			                        </Component>
			                        <Component Id="listbox.tcl" Guid="*">
			                            <File Id="listbox.tcl" KeyPath="yes" Source="SourceDir\lib\tk\listbox.tcl" />
			                        </Component>
			                        <Component Id="megawidget.tcl" Guid="*">
			                            <File Id="megawidget.tcl" KeyPath="yes" Source="SourceDir\lib\tk\megawidget.tcl" />
			                        </Component>
			                        <Component Id="menu.tcl" Guid="*">
			                            <File Id="menu.tcl" KeyPath="yes" Source="SourceDir\lib\tk\menu.tcl" />
			                        </Component>
			                        <Component Id="mkpsenc.tcl" Guid="*">
			                            <File Id="mkpsenc.tcl" KeyPath="yes" Source="SourceDir\lib\tk\mkpsenc.tcl" />
			                        </Component>
			                        <Component Id="msgbox.tcl" Guid="*">
			                            <File Id="msgbox.tcl" KeyPath="yes" Source="SourceDir\lib\tk\msgbox.tcl" />
			                        </Component>
			                        <Component Id="obsolete.tcl" Guid="*">
			                            <File Id="obsolete.tcl" KeyPath="yes" Source="SourceDir\lib\tk\obsolete.tcl" />
			                        </Component>
			                        <Component Id="optMenu.tcl" Guid="*">
			                            <File Id="optMenu.tcl" KeyPath="yes" Source="SourceDir\lib\tk\optMenu.tcl" />
			                        </Component>
			                        <Component Id="palette.tcl" Guid="*">
			                            <File Id="palette.tcl" KeyPath="yes" Source="SourceDir\lib\tk\palette.tcl" />
			                        </Component>
			                        <Component Id="panedwindow.tcl" Guid="*">
			                            <File Id="panedwindow.tcl" KeyPath="yes" Source="SourceDir\lib\tk\panedwindow.tcl" />
			                        </Component>
			                        <Component Id="pkgIndex.tcl_2" Guid="*">
			                            <File Id="pkgIndex.tcl_2" KeyPath="yes" Source="SourceDir\lib\tk\pkgIndex.tcl" />
			                        </Component>
			                        <Component Id="safetk.tcl" Guid="*">
			                            <File Id="safetk.tcl" KeyPath="yes" Source="SourceDir\lib\tk\safetk.tcl" />
			                        </Component>
			                        <Component Id="scale.tcl" Guid="*">
			                            <File Id="scale.tcl" KeyPath="yes" Source="SourceDir\lib\tk\scale.tcl" />
			                        </Component>
			                        <Component Id="scrlbar.tcl" Guid="*">
			                            <File Id="scrlbar.tcl" KeyPath="yes" Source="SourceDir\lib\tk\scrlbar.tcl" />
			                        </Component>
			                        <Component Id="spinbox.tcl" Guid="*">
			                            <File Id="spinbox.tcl" KeyPath="yes" Source="SourceDir\lib\tk\spinbox.tcl" />
			                        </Component>
			                        <Component Id="tclIndex_1" Guid="*">
			                            <File Id="tclIndex_1" KeyPath="yes" Source="SourceDir\lib\tk\tclIndex" />
			                        </Component>
			                        <Component Id="tearoff.tcl" Guid="*">
			                            <File Id="tearoff.tcl" KeyPath="yes" Source="SourceDir\lib\tk\tearoff.tcl" />
			                        </Component>
			                        <Component Id="text.tcl" Guid="*">
			                            <File Id="text.tcl" KeyPath="yes" Source="SourceDir\lib\tk\text.tcl" />
			                        </Component>
			                        <Component Id="tk.tcl" Guid="*">
			                            <File Id="tk.tcl" KeyPath="yes" Source="SourceDir\lib\tk\tk.tcl" />
			                        </Component>
			                        <Component Id="tkfbox.tcl" Guid="*">
			                            <File Id="tkfbox.tcl" KeyPath="yes" Source="SourceDir\lib\tk\tkfbox.tcl" />
			                        </Component>
			                        <Component Id="unsupported.tcl" Guid="*">
			                            <File Id="unsupported.tcl" KeyPath="yes" Source="SourceDir\lib\tk\unsupported.tcl" />
			                        </Component>
			                        <Component Id="xmfbox.tcl" Guid="*">
			                            <File Id="xmfbox.tcl" KeyPath="yes" Source="SourceDir\lib\tk\xmfbox.tcl" />
			                        </Component>
			                        <Directory Id="ttk" Name="ttk">
			                            <Component Id="altTheme.tcl" Guid="*">
			                                <File Id="altTheme.tcl" KeyPath="yes" Source="SourceDir\lib\tk\ttk\altTheme.tcl" />
			                            </Component>
			                            <Component Id="aquaTheme.tcl" Guid="*">
			                                <File Id="aquaTheme.tcl" KeyPath="yes" Source="SourceDir\lib\tk\ttk\aquaTheme.tcl" />
			                            </Component>
			                            <Component Id="button.tcl_2" Guid="*">
			                                <File Id="button.tcl_2" KeyPath="yes" Source="SourceDir\lib\tk\ttk\button.tcl" />
			                            </Component>
			                            <Component Id="clamTheme.tcl" Guid="*">
			                                <File Id="clamTheme.tcl" KeyPath="yes" Source="SourceDir\lib\tk\ttk\clamTheme.tcl" />
			                            </Component>
			                            <Component Id="classicTheme.tcl" Guid="*">
			                                <File Id="classicTheme.tcl" KeyPath="yes" Source="SourceDir\lib\tk\ttk\classicTheme.tcl" />
			                            </Component>
			                            <Component Id="combobox.tcl" Guid="*">
			                                <File Id="combobox.tcl" KeyPath="yes" Source="SourceDir\lib\tk\ttk\combobox.tcl" />
			                            </Component>
			                            <Component Id="cursors.tcl" Guid="*">
			                                <File Id="cursors.tcl" KeyPath="yes" Source="SourceDir\lib\tk\ttk\cursors.tcl" />
			                            </Component>
			                            <Component Id="defaults.tcl" Guid="*">
			                                <File Id="defaults.tcl" KeyPath="yes" Source="SourceDir\lib\tk\ttk\defaults.tcl" />
			                            </Component>
			                            <Component Id="entry.tcl_1" Guid="*">
			                                <File Id="entry.tcl_1" KeyPath="yes" Source="SourceDir\lib\tk\ttk\entry.tcl" />
			                            </Component>
			                            <Component Id="fonts.tcl" Guid="*">
			                                <File Id="fonts.tcl" KeyPath="yes" Source="SourceDir\lib\tk\ttk\fonts.tcl" />
			                            </Component>
			                            <Component Id="menubutton.tcl" Guid="*">
			                                <File Id="menubutton.tcl" KeyPath="yes" Source="SourceDir\lib\tk\ttk\menubutton.tcl" />
			                            </Component>
			                            <Component Id="notebook.tcl" Guid="*">
			                                <File Id="notebook.tcl" KeyPath="yes" Source="SourceDir\lib\tk\ttk\notebook.tcl" />
			                            </Component>
			                            <Component Id="panedwindow.tcl_1" Guid="*">
			                                <File Id="panedwindow.tcl_1" KeyPath="yes" Source="SourceDir\lib\tk\ttk\panedwindow.tcl" />
			                            </Component>
			                            <Component Id="progress.tcl" Guid="*">
			                                <File Id="progress.tcl" KeyPath="yes" Source="SourceDir\lib\tk\ttk\progress.tcl" />
			                            </Component>
			                            <Component Id="scale.tcl_1" Guid="*">
			                                <File Id="scale.tcl_1" KeyPath="yes" Source="SourceDir\lib\tk\ttk\scale.tcl" />
			                            </Component>
			                            <Component Id="scrollbar.tcl" Guid="*">
			                                <File Id="scrollbar.tcl" KeyPath="yes" Source="SourceDir\lib\tk\ttk\scrollbar.tcl" />
			                            </Component>
			                            <Component Id="sizegrip.tcl" Guid="*">
			                                <File Id="sizegrip.tcl" KeyPath="yes" Source="SourceDir\lib\tk\ttk\sizegrip.tcl" />
			                            </Component>
			                            <Component Id="spinbox.tcl_1" Guid="*">
			                                <File Id="spinbox.tcl_1" KeyPath="yes" Source="SourceDir\lib\tk\ttk\spinbox.tcl" />
			                            </Component>
			                            <Component Id="treeview.tcl" Guid="*">
			                                <File Id="treeview.tcl" KeyPath="yes" Source="SourceDir\lib\tk\ttk\treeview.tcl" />
			                            </Component>
			                            <Component Id="ttk.tcl" Guid="*">
			                                <File Id="ttk.tcl" KeyPath="yes" Source="SourceDir\lib\tk\ttk\ttk.tcl" />
			                            </Component>
			                            <Component Id="utils.tcl" Guid="*">
			                                <File Id="utils.tcl" KeyPath="yes" Source="SourceDir\lib\tk\ttk\utils.tcl" />
			                            </Component>
			                            <Component Id="vistaTheme.tcl" Guid="*">
			                                <File Id="vistaTheme.tcl" KeyPath="yes" Source="SourceDir\lib\tk\ttk\vistaTheme.tcl" />
			                            </Component>
			                            <Component Id="winTheme.tcl" Guid="*">
			                                <File Id="winTheme.tcl" KeyPath="yes" Source="SourceDir\lib\tk\ttk\winTheme.tcl" />
			                            </Component>
			                            <Component Id="xpTheme.tcl" Guid="*">
			                                <File Id="xpTheme.tcl" KeyPath="yes" Source="SourceDir\lib\tk\ttk\xpTheme.tcl" />
			                            </Component>
			                        </Directory>
			                    </Directory>
			                </Directory>
			                <Directory Id="plugins" Name="plugins">
			                    <Component Id="coriolis.py" Guid="*">
			                        <File Id="coriolis.py" KeyPath="yes" Source="SourceDir\plugins\coriolis.py" />
			                    </Component>
			                    <Component Id="eddb.py" Guid="*">
			                        <File Id="eddb.py" KeyPath="yes" Source="SourceDir\plugins\eddb.py" />
			                    </Component>
			                    <Component Id="eddn.py" Guid="*">
			                        <File Id="eddn.py" KeyPath="yes" Source="SourceDir\plugins\eddn.py" />
			                    </Component>
			                    <Component Id="edsm.py" Guid="*">
			                        <File Id="edsm.py" KeyPath="yes" Source="SourceDir\plugins\edsm.py" />
			                    </Component>
			                    <Component Id="edsy.py" Guid="*">
			                        <File Id="edsy.py" KeyPath="yes" Source="SourceDir\plugins\edsy.py" />
			                    </Component>
			                    <Component Id="inara.py" Guid="*">
			                        <File Id="inara.py" KeyPath="yes" Source="SourceDir\plugins\inara.py" />
			                    </Component>
			                </Directory>
				</Directory>
			</Directory>

			<Directory Id="ProgramMenuFolder" Name="Programs">
			</Directory>
			
		</Directory>

		<Feature Id='Complete' Level='1'>
			<ComponentRef Id="RegistryEntries" />
			<ComponentRef Id="MainExecutable" />
			<ComponentRef Id="cacert.pem" />
			<ComponentRef Id="commodity.csv" />
			<ComponentRef Id="EDMarketConnector.ico" />
			<ComponentRef Id="EDMarketConnector.VisualElementsManifest.xml" />
			<ComponentRef Id="EDMC.exe" />
			<ComponentRef Id="EUROCAPS.TTF" />
			<ComponentRef Id="library.zip" />
			<ComponentRef Id="libcrypto_1_1.dll" />
			<ComponentRef Id="libssl_1_1.dll" />
			<ComponentRef Id="modules.p" />
			<ComponentRef Id="pyexpat.pyd" />
			<ComponentRef Id="python37.dll" />
			<ComponentRef Id="rare_commodity.csv" />
			<ComponentRef Id="select.pyd" />
			<ComponentRef Id="ships.p" />
			<ComponentRef Id="snd_bad.wav" />
			<ComponentRef Id="snd_good.wav" />
			<ComponentRef Id="stations.p" />
			<ComponentRef Id="systems.p" />
			<ComponentRef Id="tcl86t.dll" />
			<ComponentRef Id="tk86t.dll" />
			<ComponentRef Id="unicodedata.pyd" />
			<ComponentRef Id="winsound.pyd" />
			<ComponentRef Id="WinSparkle.dll" />
			<ComponentRef Id="_bz2.pyd" />
			<ComponentRef Id="_ctypes.pyd" />
			<ComponentRef Id="_decimal.pyd" />
			<ComponentRef Id="_elementtree.pyd" />
			<ComponentRef Id="_hashlib.pyd" />
			<ComponentRef Id="_lzma.pyd" />
			<ComponentRef Id="_multiprocessing.pyd" />
			<ComponentRef Id="_queue.pyd" />
			<ComponentRef Id="_socket.pyd" />
			<ComponentRef Id="sqlite3.dll" />
			<ComponentRef Id="_sqlite3.pyd" />
			<ComponentRef Id="_ssl.pyd" />
			<ComponentRef Id="_testcapi.pyd" />
			<ComponentRef Id="_tkinter.pyd" />
			<ComponentRef Id="cs.strings" />
			<ComponentRef Id="de.strings" />
			<ComponentRef Id="es.strings" />
			<ComponentRef Id="fi.strings" />
			<ComponentRef Id="fr.strings" />
			<ComponentRef Id="hu.strings" />
			<ComponentRef Id="it.strings" />
			<ComponentRef Id="ja.strings" />
			<ComponentRef Id="lv.strings" />
			<ComponentRef Id="nl.strings" />
			<ComponentRef Id="pl.strings" />
			<ComponentRef Id="pt_BR.strings" />
			<ComponentRef Id="pt_PT.strings" />
			<ComponentRef Id="ru.strings" />
			<ComponentRef Id="sr_Latn.strings" />
			<ComponentRef Id="uk.strings" />
			<ComponentRef Id="zh_Hans.strings" />
			<ComponentRef Id="auto.tcl" />
			<ComponentRef Id="clock.tcl" />
			<ComponentRef Id="history.tcl" />
			<ComponentRef Id="init.tcl" />
			<ComponentRef Id="package.tcl" />
			<ComponentRef Id="parray.tcl" />
			<ComponentRef Id="safe.tcl" />
			<ComponentRef Id="tclIndex" />
			<ComponentRef Id="tm.tcl" />
			<ComponentRef Id="word.tcl" />
			<ComponentRef Id="http.tcl" />
			<ComponentRef Id="pkgIndex.tcl" />
			<ComponentRef Id="optparse.tcl" />
			<ComponentRef Id="pkgIndex.tcl_1" />
			<ComponentRef Id="bgerror.tcl" />
			<ComponentRef Id="button.tcl" />
			<ComponentRef Id="choosedir.tcl" />
			<ComponentRef Id="clrpick.tcl" />
			<ComponentRef Id="comdlg.tcl" />
			<ComponentRef Id="console.tcl" />
			<ComponentRef Id="dialog.tcl" />
			<ComponentRef Id="entry.tcl" />
			<ComponentRef Id="focus.tcl" />
			<ComponentRef Id="fontchooser.tcl" />
			<ComponentRef Id="iconlist.tcl" />
			<ComponentRef Id="icons.tcl" />
			<ComponentRef Id="license.terms" />
			<ComponentRef Id="listbox.tcl" />
			<ComponentRef Id="megawidget.tcl" />
			<ComponentRef Id="menu.tcl" />
			<ComponentRef Id="mkpsenc.tcl" />
			<ComponentRef Id="msgbox.tcl" />
			<ComponentRef Id="obsolete.tcl" />
			<ComponentRef Id="optMenu.tcl" />
			<ComponentRef Id="palette.tcl" />
			<ComponentRef Id="panedwindow.tcl" />
			<ComponentRef Id="pkgIndex.tcl_2" />
			<ComponentRef Id="safetk.tcl" />
			<ComponentRef Id="scale.tcl" />
			<ComponentRef Id="scrlbar.tcl" />
			<ComponentRef Id="spinbox.tcl" />
			<ComponentRef Id="tclIndex_1" />
			<ComponentRef Id="tearoff.tcl" />
			<ComponentRef Id="text.tcl" />
			<ComponentRef Id="tk.tcl" />
			<ComponentRef Id="tkfbox.tcl" />
			<ComponentRef Id="unsupported.tcl" />
			<ComponentRef Id="xmfbox.tcl" />
			<ComponentRef Id="altTheme.tcl" />
			<ComponentRef Id="aquaTheme.tcl" />
			<ComponentRef Id="button.tcl_2" />
			<ComponentRef Id="clamTheme.tcl" />
			<ComponentRef Id="classicTheme.tcl" />
			<ComponentRef Id="combobox.tcl" />
			<ComponentRef Id="cursors.tcl" />
			<ComponentRef Id="defaults.tcl" />
			<ComponentRef Id="entry.tcl_1" />
			<ComponentRef Id="fonts.tcl" />
			<ComponentRef Id="menubutton.tcl" />
			<ComponentRef Id="notebook.tcl" />
			<ComponentRef Id="panedwindow.tcl_1" />
			<ComponentRef Id="progress.tcl" />
			<ComponentRef Id="scale.tcl_1" />
			<ComponentRef Id="scrollbar.tcl" />
			<ComponentRef Id="sizegrip.tcl" />
			<ComponentRef Id="spinbox.tcl_1" />
			<ComponentRef Id="treeview.tcl" />
			<ComponentRef Id="ttk.tcl" />
			<ComponentRef Id="utils.tcl" />
			<ComponentRef Id="vistaTheme.tcl" />
			<ComponentRef Id="winTheme.tcl" />
			<ComponentRef Id="xpTheme.tcl" />
			<ComponentRef Id="coriolis.py" />
			<ComponentRef Id="eddb.py" />
			<ComponentRef Id="eddn.py" />
			<ComponentRef Id="edsm.py" />
			<ComponentRef Id="edsy.py" />
			<ComponentRef Id="inara.py" />
		</Feature>

	</Product>
</Wix>

<!-- Local Variables: -->
<!-- tab-width: 4     -->
<!-- End:             -->
