# So that you don't get warnings like:
# Using legacy 'setup.py install' for flake8-annotations-coverage, since package 'wheel' is not installed.
wheel

# We can't rely on just picking this up from either the base (not venv),
# or venv-init-time version.  Specify here so that dependabot will prod us
# about new versions.
setuptools==69.0.3

# Static analysis tools
flake8==7.0.0
flake8-annotations-coverage==0.0.6
flake8-cognitive-complexity==0.1.0
flake8-comprehensions==3.14.0
flake8-docstrings==1.7.0
flake8-json==23.7.0
flake8-noqa==1.4.0
flake8-polyfill==1.0.2
flake8-use-fstring==1.4

mypy==1.8.0
pep8-naming==0.13.3
safety==2.3.5
types-requests==2.31.0.20240125
types-pkg-resources==0.1.3

# Code formatting tools
autopep8==2.0.4

# Git pre-commit checking
pre-commit==3.6.0

# HTML changelogs
grip==4.6.2

# Packaging
# We only need py2exe on windows.
py2exe==0.13.0.1; sys_platform == 'win32'

# Testing
pytest==8.0.2
pytest-cov==4.1.0  # Pytest code coverage support
coverage[toml]==7.4.1 # pytest-cov dep. This is here to ensure that it includes TOML support for pyproject.toml configs
coverage-conditional-plugin==0.9.0
# For manipulating folder permissions and the like.
pywin32==306; sys_platform == 'win32'


# All of the normal requirements
-r requirements.txt
