# We can't rely on just picking this up from either the base (not venv),
# or venv-init-time version.  Specify here so that dependabot will prod us
# about new versions.
setuptools==75.8.0

# Static analysis tools
flake8==7.1.2
flake8-annotations-coverage==0.0.6
flake8-cognitive-complexity==0.1.0
flake8-comprehensions==3.16.0
flake8-docstrings==1.7.0
flake8-json==24.4.0
flake8-noqa==1.4.0
flake8-polyfill==1.0.2
flake8-use-fstring==1.4

mypy==1.15.0
pep8-naming==0.14.1
safety==3.3.1
types-requests==2.32.0.20250328
types-setuptools==78.1.0.20250329

# Code formatting tools
autopep8==2.3.2

# Git pre-commit checking
pre-commit==4.1.0

# HTML changelogs
mistune==3.1.1

# Packaging
# We only need py2exe on windows.
py2exe==0.13.0.2; sys_platform == 'win32'

# Testing
pytest==8.3.5
pytest-cov==6.1.0  # Pytest code coverage support
coverage[toml]==7.6.1 # pytest-cov dep. This is here to ensure that it includes TOML support for pyproject.toml configs
coverage-conditional-plugin==0.9.0


# All of the normal requirements
-r requirements.txt
