certifi==2019.9.11
requests>=2.11.1
watchdog>=0.8.3

# Static analysis tools
flake8==3.8.3
flake8-annotations-coverage==0.0.4
flake8-cognitive-complexity==0.0.2
flake8-comprehensions==3.2.3
flake8-pep3101==1.3.0
flake8-polyfill==1.0.2
pep8-naming==0.11.1

# Code formatting tools
autopep8==1.5.3
