certifi==2022.12.7
requests==2.28.1
watchdog==2.2.1
# Commented out because this doesn't package well with py2exe
infi.systray==0.1.12; sys_platform == 'win32'
# argh==0.26.2 watchdog dep
# pyyaml==5.3.1 watchdog dep
semantic-version==2.10.0

# Used both by some tests *and* now in monitor.py
pywin32==305; sys_platform == 'win32'

# Base requirement for MacOS
pyobjc; sys_platform == 'darwin'
